<!--fireworks-->
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>


<h1><p style="color:red; text-align:center">Thank you for your purchase!</p></h1>

<br>
<br>
<br>
<br>
<br>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/Daredevil.jpg" alt="Daredevil">
        <p style="text-align: center">Daredevil</p>
        <figcaption>

        </figcaption>
      </figure>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/Reckoning War.jpg" alt="Reckoning War">
        <p style="text-align: center">Reckoning War</p>
        <figcaption>

        </figcaption>;
      </figure>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/Sabretooth.jpg" alt="Sabretooth">
        <p style="text-align: center">Sabretooth</p>
        <figcaption>

        </figcaption>
      </figure>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/Star Wars.jpg" alt="Star Wars">
        <p style="text-align: center">Star Wars</p>
        <figcaption>

        </figcaption>
      </figure>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/The thing.jpg" alt="The thing">
        <p style="text-align: center">The thing</p>
        <figcaption>

        </figcaption>
      </figure>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12">
      <figure>
        <img class="img-responsive" src="../../assets/X Lives of Wolverline.jpg" alt="X Lives of Wolverline">
        <p style="text-align: center">X Lives of Wolverline</p>
        <figcaption>

        </figcaption>
      </figure>
    </div>
  </div>
</div> 
