
    <table border="1px">
    <thead>
        <th><h1 class = "loginBanner">Comic Book Store Login </h1></th>
        <tr><td><input type= "text" placeholder= "Username" id="UserN" size="40"></td></tr>
        <tr><td><input type= "password" placeholder= "Password" id="UserP" size="40"></td></tr>
        <tr><td><button id="loginSubmit"> Login </button> </td></tr>
        <tr><td><button id="loginRegister"> Register New User </button> </td></tr>
        <tr><td><button id="loginPassword"> Forgot Password? </button> </td></tr>
    </thead>
    </table>
