<div Id= "newUserCo">
    <table>
        <thead>
            <tr><td><h2>User Sign Up</h2></td></tr>
            <tr><td><input type= "text" placeholder= "Username" id="UserN" size="40"></td></tr>
            <tr><td><input type= "password" placeholder= "Password" id="UserP" size="40"></td></tr>
            <tr><td><input type= "password" placeholder= "Confirm Password" id="UserP2" size="40"></td></tr>
            <tr><td><input type= "text" placeholder= "First Name" id="firstName" size="40"></td></tr>
            <tr><td><input type= "text" placeholder= "Last Name" id="lastName" size="40"></td></tr>
            <tr><td><input type= "text" placeholder= "Email" id="email" size="40"></td></tr>
            <tr><td><button id="newUserSubmit"> submit </button></td></tr>
        </thead>
    </table>
</div>