table{
    background-color: rgb(25, 25, 25); 
    margin-left: auto; 
    margin-right: auto; 
    border-collapse: collapse;
    margin: 6px;
}
button {
    background-color: rgb(25, 25, 25);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    border-radius: 8px;
    text-shadow: 2px 2px rgb(50, 50, 50);
}
h2{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-radius: 8px;
    text-shadow: 2px 2px rgb(50, 50, 50);
    text-align: center;
}