<div Id= "newUserCo">
    <h2>User Sign Up</h2>
    <input type= "text" placeholder= "Username" id="UserN" size="75">
    <br>
    <input type= "password" placeholder= "Password" id="UserP" size="75">
    <br>
    <input type= "password" placeholder= "Confirm Password" id="UserP2" size="75">
    <br>
    <input type= "text" placeholder= "First Name" id="firstName" size="40">
    <br>
    <input type= "text" placeholder= "Last Name" id="lastName" size="40">
    <br>
    <input type= "text" placeholder= "Email" id="email" size="75">
    <br>
    <button id="newUserSubmit"> submit </button>
    <script src='ersNU.js'></script>
</div>