
<h1> Check Out Our Amazing Deals!</h1>
<div class=" container-fluid">

<div class="row" style="margin: 0.5em;">

    <!--as seen on ben's demo, I will be two way binding 
        this input feild to a variable called input in discounted-omniya.components.td  -->

   <input class = "col-lg-g-3 "type="letters"[(ngModel)]="input"/>

<button class= "btn btn-dark"(click)="getDiscoutedTitile()"> search </button>

</div>

<table class="table .table-dark" *ngIf="Features" > 
    
    <thead class="Thread-dark">
      <br> 
      
      <h1> Save Through Our Membership! </h1>
    <th scope="col-lg-1">  <img src="../../assets/membership2.png"/></td> </th>

 
    </thead>
    
 
    </table>
    </div>
    
 
        
      
            
      
        <table class="table .table-dark" *ngIf="Features" > 
        
        <thead class="Thread-dark">
          <br> 
          <br>
          <br>
          <br>
          
          <h1>Free Reads!  </h1>
        <th scope="col-lg-1">The Four Fives <img src="../../assets/Free 1 portrait_uncanny.jpg"/></td> </th>
        <th scope="col-lg-1">The Vitals <img src="../../assets/Free 2.jpg"/></td></th>
        <th scope="col-lg-1"> X-Men <img src="../../assets/Free 3 portrait_uncanny.jpg"/></td></th>
        <th scope="col-lg-1">Spider-Man <img src="../../assets/Free 4.jpg"/></td></th>
     
        </thead>
        
     
        </table>
        </div>