
<table border="1px">
        <thead>
            <tr>
                <td> <button id="menuLogin" class="menuButton"><h3>Login</h3></button></td>
                <td><button id="menuInv" class="menuButton"><h3>Browse Inventory</h3></button></td>
                <td><button id="menuCart" class="menuButton"><h3>Check Cart</h3></button></td>
                <td><button id="menuCheckout" class="menuButton"> <h3>Checkout</h3></button></td>
                <td><button id="menuCheckout" class="menuUserPf"> <h3>User Profile</h3></button></td>
            </tr>
        </thead>
    </table>
    <thead>
